hr
{
	height: 4px;
	background-color: black;
	border:none;
	margin: 0px;
}

body
{
	background-color: rgba(255,160,60,1);
	text-align: center;
}

h1
{
	text-shadow: 2px 2px gray;
}

table
{
	border-collapse: collapse;
}	
	
@font-face
{
	font-family: FantasyFont;
	src: url(ENDOR___.woff);
	font-style: normal;
}

#Description
{
	background-color: rgb(210,210,210);
	color: black;
}

#Description p
{
	margin: 25px 20px;
}
	
#RestaurantName
{
	font-family: FantasyFont;
	text-align: center;
}

#ContactInfo
{
	background-color: rgba(255,0,0,.5);
	border:none;
	color:black;
	font-weight:bold;
}

#ContactInfo p
{
	margin: 10px 0px;
}

#NavigationBackground
{
	background-color: rgba(255,0,0,.5);
}

#Navigation
{
	border:none;
	margin-top: 25px;
}

#Navigation a:visited
{
	color:rgba(255,255,255,1);
}

#Navigation a:link
{
	color:rgba(255,255,255,1);
	background-color:rgba(0,0,0,1);
	color:rgba(255,255,255,1);
}

#Navigation a:hover
{
	background-color:rgba(255,255,255,1);
	color:rgba(0,0,0,1);
	font-weight:bold;
}

#Submit
{
	box-shadow: 3px 3px 5px;
}
#Submit:active
{
	position: relative;
	top:1px;
	box-shadow:2px 2px 5px;
}
.container-fluid
{
	padding: 0px;
	margin:0px;
}